
appdirs
atomicwrites
jsonpointer
numpy
streamlit
pandas
mkl-service
protobuf
pyasn1-modules
pycurl
pyls-spyder
PyQt5
PyQtWebEngine
pywin32
scikit-learn
setuptools
threadpoolct
wheel


